a {
    text-decoration: none;
    color: black;
}
ul {
    padding: 0px;
}
.member_top {
height: 700px;
width: 900px;
 margin: 0 auto;
    margin-bottom: 250px;
}
/*かこみ部分*/
.kakomi {
    width: 900px;
    margin: 0 auto;
    margin-top: 5px;
    background-color: antiquewhite;
}

.accordion11 {
float: left;
z-index:2;
position: absolute;
text-decoration: none;
list-style: none;
border-radius: 15px;
text-align: center;
margin-left: 4%;
}

.accordion11 .inner {display: none;}
.accordion11 p{cursor: pointer; padding: 10px;}
.accordion11 p.ac1{
    border: #005fa7 solid 3px;
    list-style: none; 
    color: #005fa7; 
    border-radius: 10%;
    font-weight: bolder;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "YuGothic M";
     width:130px;
    margin-bottom: 3px;
    margin-top: 0px;

}
.inner {
    width:200px;
    padding-left: 0px;
    padding-right: 0px;
    font-family: "YuGothic M";
     
}
.accordion11 .inner li{padding: 10px 35px;}
.accordion11 .inner li.content1-1{background: black;opacity: 0.65;list-style: none; color: aliceblue;}
.accordion11 .inner li.content1-2{background: black;opacity: 0.65;list-style: none; color: aliceblue;}
.accordion11 .inner li.content1-3{background: black;opacity: 0.65;list-style: none; color: aliceblue;}
#humberger {
  position: relative;
  height: 24px;
  width: 24px;
  display: inline-block;
  box-sizing: border-box;
    margin-top: 39px;
    float: right;
    margin-right: 87px;
}
#humberger div {
  position: absolute;
  left: 0;
  height: 4px;
  width: 30px;
  background-color: #444;
  border-radius: 2px;
  display: inline-block;
  box-sizing: border-box;

}
#humberger div:nth-of-type(1) {
  top: 0;
}
#humberger div:nth-of-type(2) {
  top: 10px;
}
#humberger div:nth-of-type(3) {
  bottom: 0;
}
/*メンバー羅列*/
.member_order{
    width: 900px;
    padding-top: 30px;
    overflow: hidden;
}
.member_card{
    width: 170px;
    margin-bottom: 10px;
    margin-left: 45px;
    float: left;
    text-align: center;
}

.card_top {
    width: 100%;
    height: 17px;
    margin: 0 auto;
    text-align: center;
    font-weight: bolder;
}
.card_bottom {
    width: 90%;
    height: 24px;
    margin: 0 auto;
    text-align: center;
}
.card_bottom_img{
    width: 15px;
    height: 15px;
    float: left;
    margin-left: 0px;
}
.card_bottom p{
    margin-top: 0px;
    float: left;
    margin-right: 9px;
    font-size: 10px;
    margin-bottom: 2px;
    
    font-family: "YuGothic M";
}

.card_top p{
    margin-top: 0px;
    float: left;
    margin-right: 9px;
    font-size: 14px;
    margin-bottom: 0px;
    
}
.color{
height: 15px;
width: 15px;
border-radius: 50%;
float: left;
margin-left: 5px;
margin-top: 0px;
margin-right: 3px;}

.member_order img {
width: 100%;
height: auto;
}
/*下部*/
.menu2 {
      width: 900px;
      background: white;
     margin: 0 auto;
      bottom: 0;
      z-index:999;
    text-align: center;
    position: fixed;
left: 50%;
transform: translate(-50%);
padding-top: 10px;
opacity: 0.96;
    display: flex;              /* フレックスボックスにする */
    justify-content:center;
    } 

.menu2 img {
    width:30px;
    height:30px;
}

.menu_img{
    width: 90px;
    text-align: center;
    margin-left: auto;
}

.menu_img p{
    margin-top: 0px;
    margin-bottom: 2px;
    font-size: 14px;
}
.menu_img a {
    color: black;
}
.hobby_top {
height: 100px; 
    background-color: rgba(0,0,0,0.5);
}
.hobby_top img {
    float: left;
    height: 100px;
    width: 100px;
    -webkit-filter: grayscale(10%);
     -moz-filter: grayscale(10%);
     -o-filter: grayscale(10%);
     -ms-filter: grayscale(10%);
     filter: grayscale(10%);
}
.hobby_top p {
    text-align: center;
    line-height: 100px;
    color: white;
    font-weight: bolder;
}
/*かこみ終了*/
@media (max-width: 950px) {
    .member_top {
width: 599px;
    height: 100%;
 margin: 0 auto;
        padding-bottom: 70px;
}
    .kakomi {
    width: 599px;
    margin: 0 auto;
    margin-top: 5px;
}
    .member_order{
    width: 100%;
    padding-top: 30px;
    overflow: hidden;
}
   .member_card{
    width: 230px;
       height: 330px;
    margin-bottom: 10px;
    margin-left: 56px;
    float: left;
    text-align: center;
}
    .color{

margin-left: 40px;
margin-top: 4px;
margin-right: 13px;}
    .card_bottom {
    width: 180px;
    height: 24px;
    margin: 0 auto;
}
.card_bottom_img{
    width: 15px;
    height: 15px;
    float: left;
    margin-left: 50px;
    clear: both;
    
}
.card_bottom p{
    margin-top: 0px;
    margin-right: 9px;
    font-size: 14px;
    margin-bottom: 2px;
    float: left;
    font-family: "YuGothic M";
}
}
@media screen and (max-width: 630px) {
  .member_top {
height: 100%;
width: 100%;
 margin: 0 auto;
} 
        .kakomi {
    width: 100%;
    margin: 0 auto;
}
.accordion11 p{cursor: pointer; padding: 10px;}
.accordion11 p.ac1{
    border: #005fa7 solid 3px;
    list-style: none; 
    color: #005fa7; 
    border-radius: 10%;
    font-weight: bolder;
    padding: 5px 4px;
    font-family: "YuGothic M";
    margin-bottom: 3px;
    margin-top: 5px;
        font-size: 13px;
}
.inner {
    width:200px;
    padding-left: 0px;
    padding-right: 0px;
    font-family: "YuGothic M";
     
}
    #humberger {
  position: relative;
  height: 24px;
  width: 24px;
  display: inline-block;
  box-sizing: border-box;
    margin-top: 25px;
    float: right;
    margin-right: 10%;
}
#humberger div {
  position: absolute;
  left: 0;
  height: 4px;
  width: 30px;
  background-color: #444;
  border-radius: 2px;
  display: inline-block;
  box-sizing: border-box;
}.member_order{
    width: 100%;
    padding-top: 30px;
    display: flex;
  flex-wrap: wrap;
    margin: 0 auro;
}
       .member_card{
    width: 46%;
           height: auto;
    margin-bottom: 10px;
    float: none;
    text-align: center;
           margin-left: 2%;
           margin-right: 2%;
}
    /*カード調節*/
    .card_top {
    width: 100%;
    height: 17px;
    margin: 0 auto;
    text-align: center;
    font-weight: bolder;
}
.card_bottom {
    width: 100%;
    height: 24px;
    margin: 0 auto;
    text-align: center;
}
.card_bottom_img{
    width: 15px;
    height: 15px;
    float: left;
    margin-left: 5px;
}
.card_bottom p{
    margin-top: 0px;
    float: left;
    margin-right: 9px;
    font-size: 14px;
    margin-bottom: 2px;
    
    font-family: "YuGothic M";
}

.card_top p{
    margin-top: 0px;
    float: left;
    margin-right: 3px;
    font-size: 12px;
    margin-bottom: 0px;
}
.color{
height: 15px;
width: 15px;
background-color: gold;
border-radius: 50%;
float: left;
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;}

    .menu2 {
      width: 100%;
      background: white;
     margin: 0 auto;
      bottom: 0;
      z-index:999;
    text-align: center;
    position: fixed;
left: 50%;
transform: translate(-50%);
padding-top: 10px;
opacity: 0.96;
    display: flex;              /* フレックスボックスにする */
    justify-content:center;
    } 

.menu2 img {
    width:50%;
    height:auto;
}

.menu_img{
    width: 100%;
    text-align: center;
}

.menu_img p{
    margin-top: 0px;
    margin-bottom: 2px;
    font-size: 10px;
}
.menu_img a {
    color: black;
}
    .hobby_top {
height: 50px; 
    background-color: rgba(0,0,0,0.4);
}
.hobby_top img {
    float: left;
    height: 50px;
    width: 50px;
    
}
.hobby_top p {
    text-align: center;
    line-height: 50px;
    color: white;
    font-weight: bolder;
}

}