body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}
header{
    
}
h1 {
    font-size: 30px;
}
.bg {
    width:100%;
    height: 800px;
    margin: 0 auto;
    margin-top: 35px;
 display: flex;
 align-items: center;
 justify-content: center;
 background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../pg_img/top.jpg);
 background-position: center;
 background-size: cover;
 color: #fff;
 
 min-height: 350px;
 text-align: center;
}

.box {
	margin: 0 15px;
	max-width: 570px;
}

.box a {
padding: 10px;
background-color: white;
    text-decoration: none;
    opacity: 0.7;
    border-radius: 10px;
    font-size: 20px;
    color: black;
    font-family: inherit;
}

.aaa:hover{

    text-decoration: none;
    opacity: 0.99;
    border-radius: 10px;
    font-size: 20px;
}





footer{
    width: 100%;
    height: 100px;
    background-color: #174a5c;
    color: white;
    text-align: center;
}
ul.footer-menu li {
display: inline;
}